*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.todoMain{
    /* background-color: blue; */
    padding: 20px;
    color:black; 
    font-size: 15px;
    font-family:Times New Roman;
}
.todo-Header{
    padding: 20px;
    word-spacing: -10px;
    margin-bottom: 20px;
}
.todo-inputfield{
    background-color:burlywood;
    padding: 20px;
    border-radius: 10px;
}
.Todo{
   padding: 10px;
   border: none;
   border-radius: 10px;
   margin-right: 5px;
}
.todo-sumbit{
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    background-color: rgb(7, 200, 7);
    color: white;
    font-weight: 600;
}
.todo-display{
    background-color: burlywood;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listDiv{
    background-color: cadetblue;
    font-weight: 900;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    width:50%;
    border-radius: 8px;
}
.todo-listItem{
    padding:10px;
    margin: 0px;
    margin-left: 20px;
}
.todoeditdeleteicons{
    padding: 10px;
    margin: 0px;
    margin-right: 20px;

}